svg circle{
    stroke: steelblue;
    fill: red;
    color: red;
    stroke-width: 1;
}
#diagramm{
	width: 600px;
	background-color: gray;
	float: left;
	margin-right: 4px;
	text-align: center;
}
#comment{
	float: left;
	width: 310px;
	background-color: white;
	border: 1px solid;
	height:  600px;
	overflow-y: scroll;
	font-size: 10px;
}