html {
    background-color: white;
}
h1{
	font-family: 'Cormorant', serif;
    font-size: 48px;
}
h2{
	text-align: center;
}
body {
	margin: 0;
	padding: 0 15px;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
	font-family: Arial, Verdana, sans-serif;

}
.header {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: 0 auto 10px;
	padding: 30px 0 10px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	box-sizing: border-box;
	border-bottom: 30px solid #0E0E19;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat repeat;
}
.main {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: auto;
	flex-grow: 1;
	flex-wrap: wrap;
	display: -webkit-flex;
	display: flex;
	box-sizing: border-box;
	justify-content: center; 
    background: rgb(14,14,14); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(125,126,125,1) 13%, rgba(125,126,125,1) 13%, rgba(125,126,125,1) 74%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 13%,rgba(125,126,125,1) 13%,rgba(125,126,125,1) 74%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 13%,rgba(125,126,125,1) 13%,rgba(125,126,125,1) 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
    margin-top: -50px;
}
.footer {
	background: #222;
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	color: #eee;
	margin: auto;
	padding: 15px;
	box-sizing: border-box;
}
.nav{
	margin-top: 15px;
	margin-right: 30px;
	flex-grow: 1;

}
.header-image{
	flex-grow: 4;
	margin-bottom: -20px;
	text-align: center;
}
.nav li{
	text-decoration: none;
	list-style: none;
	display: block;
	margin-bottom: 5px;
	max-width: 150px;
	font-size: 20px;
	font-weight: bold;
	font-variant: small-caps;
	background-color: white;
	color: black;
	cursor: pointer;
	border: 0 none;
	border-radius: 5px;
	text-align: center;
}
.about, .projects, .publication{
	flex-grow: 1;
	padding: 4px;
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
	background-color: white;
	border-radius: 10px;
	min-height: 80px;
	display: none;
}
.active{
	display: block;
}
li.active{
	background-color: grey;
	color: white;
}
.diagr{
	background-color: greenyellow;
}
